.contact-form {
  background-image: url("/assets/img/bg-red-polygons.jpg");
  background-color: red;
  background-position: top center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title_page {
  color: #fff !important;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}