/* ------------------------------------------------------------------------------ */
/* FIXED MENU */
#header.top_fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
}
/* MOBILE MENU */
/* ------------------------------------------------------------------------------ */
/* HEADER */
#header {
  position: relative;
  background-color: #fff;
}
#header .icon_menu_mobile {
  font-size: 30px;
  color: #1056a6;
  padding: 0 5px;
  margin-top: 10px;
  border: 1px solid transparent;
}
#header .icon_menu_mobile:hover,
#header .icon_menu_mobile:focus {
  border: 1px solid #0c3e77;
  border-radius: 3px;
  color: #fff !important;
}
#header .logo_main {
  padding: 10px 0;
}
#header .logo_main img {
  max-width: 220px;
}
#header .menu_main ul {
  margin-top: 5px;
}
#header .menu_main ul li {
  float: left;
  margin: 15px 10px;
}
#header .menu_main ul li a.item {
  display: block;
  text-transform: uppercase;
  color: #646464;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
}
#header .menu_main ul li a.item:hover,
#header .menu_main ul li a.item:focus {
  color: #fff;
  background-color: #eeae04;
}
#header .menu_mobile {
  display: none;
  position: fixed;
  z-index: 999;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1056a6;
}
#header .menu_mobile ul {
  display: block;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 3px;
  width: 80%;
  padding: 5px;
}
#header .menu_mobile ul li {
  width: 100%;
}
#header .menu_mobile ul li a.item {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #646464;
  padding: 5px;
}
#header .menu_mobile ul li a.item:hover,
#header .menu_mobile ul li a.item:focus {
  color: #fff;
  background-color: #1056a6;
}
#header .box_search {
  margin-left: 10px;
}
#header .box_search #iconSearch {
  color: #646464;
  font-size: 36px;
  display: block;
  padding: 15px 5px;
}
#header .box_search #iconSearch:hover,
#header .box_search #iconSearch:focus {
  color: #1056a6;
}
#header .wrap_field_search {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 8px;
  width: 0;
  height: 70px;
  background-color: #fff;
  overflow: hidden;
}
#header .wrap_field_search label {
  color: #646464;
  font-size: 24px;
  display: block;
  padding: 16px 5px;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
#header .wrap_field_search label:hover,
#header .wrap_field_search label:focus {
  color: #1056a6;
}
#header .wrap_field_search .wrap_search {
  position: relative;
  margin: 15px -30px 0 0;
}
#header .wrap_field_search .wrap_search .search_field {
  width: 100%;
  padding: 7px 10px;
  display: block;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 14px;
}
#header .wrap_field_search .wrap_search #closeSearch {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 18px;
  padding: 5px;
  color: #999;
}
.second_level_menu {
  background-color: #e5e7e8;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
}
.second_level_menu .menu_painel {
  display: block;
}
.second_level_menu .menu_painel li {
  float: left;
}
.second_level_menu .menu_painel li a.item_menu {
  display: block;
  font-size: 14px;
  color: #646464;
  padding: 6px 12px;
  margin-right: 20px;
}
.second_level_menu .menu_painel li a.item_menu:hover,
.second_level_menu .menu_painel li a.item_menu:focus {
  color: #1056a6;
}
.second_level_menu .icons_status a {
  float: left;
  margin-left: 10px;
}
.second_level_menu .icons_status .alert_icon.active {
  background-color: #1056a6;
}
.second_level_menu .icons_status .alert_icon.active:hover,
.second_level_menu .icons_status .alert_icon.active:focus {
  background-color: #0c3e77;
}
.second_level_menu .icons_status .alert_icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #a8a6a6;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  position: relative;
}
.second_level_menu .icons_status .alert_icon:hover,
.second_level_menu .icons_status .alert_icon:focus {
  background-color: #1056a6;
}
.second_level_menu .icons_status .alert_icon .account {
  background-color: #07284e;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 9px;
  line-height: 14px;
  position: absolute;
  bottom: -3px;
  right: -7px;
  z-index: 3;
}
.second_level_menu .icons_status .exit {
  color: #646464;
  font-size: 14px;
  padding: 6px 0 0 5px;
}
.second_level_menu .icons_status .exit:hover,
.second_level_menu .icons_status .exit:focus {
  color: #1056a6;
}
