<div>
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-1 col-md-2">
          <button
            (click)="goHome()"
            title="Logotipo da blindbeez"
            aria-label="Acessar homepage da BlindBeez"
            class="nav-link btn logo_main"
            tabindex="0"
          >
            <img
              src="./assets/img/logo-blind-small-removebg.png"
              alt='Logotipo de escudo hexagonal com tipografia estilizada escrito "Blind Beez"'
              class="img-responsive"
            />
          </button>
        </div>
        <div class="col-xs-4 col-sm-11 col-md-10 relative">
          <div class="icon_menu_mobile pull-right hidden-md hidden-lg">
            <a
              href="#"
              title=""
              aria-label="Abrir ou fechar o menu"
              aria-expanded="false"
            >
              <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
          </div>
          <nav
            class="menu_main relative hidden-sm hidden-xs pull-right"
            tabindex="1"
          >
            <app-header-menu></app-header-menu>
          </nav>
        </div>
      </div>
      <nav class="menu_mobile hidden-md hidden-lg uppercase" tabindex="1">
        <app-header-menu></app-header-menu>
      </nav>
    </div>
  </header>
</div>
