<footer>
    <div class="last_level">
      <article class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 sm_text_center uppercase">
            <h6>BlindBeez®. Todos os direitos reservados</h6>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 sm_text_center uppercase">
            <div class="pull-right hidden-sm hidden-xs">
              <app-social-media></app-social-media>
            </div>
            <!-- <div class="hidden-lg hidden-md">
              <app-social-media></app-social-media>
            </div> -->
          </div>
        </div>
      </article>
    </div>
  </footer>