<div class="container">
  <article class="container">
    <div class="row">
      <h2 class="title_page">Quem faz a BlindBeez?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img
          src="assets/img/felipe-massagem-4-quadros.jpg"
          alt="4 quadros mostrando massoterapeuta aplicando massagens durante evento em grande empresa (H.Cloee Oftalmologia)"
          class="img-fluid"
        />
        <br />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p style="margin-top: 0px;">
          A <b>Blind Beez</b> é um grupo constituído por
          <b>massoterapeutas cegos</b> que prestam serviço para empresas,
          eventos e clientes particulares. Oferecem terapias alternativas de
          massagem com foco na <b>Quick Massage</b>.
        </p>

        <p>
          A Massagem Rápida faz uso de diversos recursos de massagens orientais
          efetuadas numa cadeira que é ergonomicamente projetada com essa
          finalidade, tornando a experiência dinânima e relaxante com
          durabilidade média de apenas 15 minutos.
        </p>

        <p>
          Os resultados são imediatos trazendo efeitos positivos como a redução
          do estresse, alívio das tensões do dia a dia, e claro, o relaxamento
          muscular.
        </p>

        <p>
          Não se enganem, esse serviço é mais acessível do que parece. Muitas
          empresas no Brasil e no mundo estão fazendo uso da Quick Massage por
          se preocuparem com o bem-estar e a saúde de seus funcionários. No
          longo prazo, a prática massoterápica beneficia tanto a empresa quanto
          os funcionários.
        </p>

        <p>
          A Blind Beez cuida de todas as etapas da gestão de seus serviços
          prestados. Incluindo um diagnóstico inicial, controle dos indicadores
          realizado periodicamente, agendamento das sessões e tudo o que for
          necessário para dar tranquilidade ao gestor da empresa ou contratante.
        </p>

        <p>
          A equipe faz treinamentos regulares e busca ascender profissionalmente
          participando de reciclagens e formação em novas modalidades de
          terapias.”
        </p>
      </div>
    </div>
  </article>
</div>
