<div>
  <div class="container">
    <section class="padding_t_40 padding_b_50">
      <article class="container" aria-label="Agenda">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="title_page">Agenda</h2>
          </div>
        </div>
        <div class="row">
          <button class="btn btn_blue large">
            Novo Período
          </button>
        </div>
        <br><br>
        <app-calendar-table></app-calendar-table>
      </article>
    </section>
  </div>
</div>