<article>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="col-md-6" aria-label="Logotipo de parceiro: Centauro">
          <img
            src="assets/img/centauro-logo-6.png"
            alt="Logotipo de parceiro: Centauro"
          />
        </li>
        <li class="col-md-6" aria-label="Logotipo de parceiro: Sebrae">
          <img
            src="assets/img/eoumrm.jpg"
            alt="Logotipo de parceiro: E/OU MRM"
          />
        </li>
      </ul>
    </div>
  </div>
</article>
