<table class="table" *ngIf="date && companyId">
  <caption>
    Agenda com informações de horário, cliente, telefone e ações de cancelamento
    ou deleção. Pode estar sem valores preenchidos caso não exista horários
    disponíveis ou agendados para essa data
  </caption>
  <tr>
    <th scope="col">Horário</th>
    <th scope="col">Cliente</th>
    <th scope="col">Telefone</th>
    <th scope="col">Ações</th>
  </tr>
  <tr *ngFor="let schedule of scheduleList | async">
    <td scope="row">{{ schedule.time }}</td>
    <td>{{ schedule.client?.name }}</td>
    <td>{{ schedule.client?.phone }}</td>
    <td>
      <button *ngIf = "!schedule.client"
        type="button"
        class="btn btn-secondary"
        aria-label="Deletar horário disponível"
        (click)="deleteSchedulePressed(schedule)"
      >
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>


      <button *ngIf = "schedule.client"
        type="button"
        class="btn btn-danger"
        aria-label="Cancelar agendamento com o cliente"
        (click)="cancelReservedSchedulePressed(schedule)"
      >
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
</table>

<app-alert
  title="Atenção!"
  description={{descriptionForAlert}}
  (confirmationPressed)=alertConfirmedCallback()
  ></app-alert>