<nav aria-label="Navegação entre datas filtro">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Dia anterior">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>
    <li class="page-item" id="date-filter-li"><label for="initialDate">
      <span class="visuallyhidden">Data filtro</span>
      <input id="initialDate" class="form-control" type="text" placeholder="Data Filtro"
        [textMask]="{ mask: dateMask }"
        [(ngModel)]="initialDate" />
    </label></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Proximo dia">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Próximo</span>
      </a>
    </li>
  </ul>
</nav>