<div class="banner slide">
  <!-- Wrapper for slides -->
  <div class="banner-inner">
    <picture>
      <source
        media="(max-width: 768px) and (orientation: portrait)"
        srcset="assets/img/icon-logo-blind.jpg"
        alt='Capa com fundo amarelo destacando a frase: "No meio de tanta tensão e correria, chegou a Blind Beez com a calmaria da massoterapia". O mascote amarelo ouro, preto e cinza compõe a imagem com seu óculos escuro redondo descolado, de sorriso amigável, enquanto segura com firmeza sua bengala e ostenta um par de tênis branco de cano longo. Eita abelhudo estiloso!'
      />
      <source
        media="(max-width: 768px) and (orientation: landscape)"
        srcset="assets/img/icon-logo-blind.jpg"
        alt='Logotipo e mascote da Blind Beez: uma abelha com óculos escuro redondo segurando uma bengalinha, logo abaixo escudo hexagonal com tipografia estilizada escrito "Blind Beez" e ferrão na parte central inferior do hexágono.'
      />
      <img
        src="assets/img/banner-blind-facebook.jpg"
        height="615"
        width="1920"
        alt='Logotipo e mascote da Blind Beez: uma abelha com óculos escuro redondo segurando uma bengalinha, logo abaixo escudo hexagonal com tipografia estilizada escrito "Blind Beez" e ferrão na parte central inferior do hexágono.'
      />
    </picture>
  </div>
</div>