ul li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.section {
    padding: 7% 0;
    display: block;
  }

/* ------------------------------------------------------------------------------ */
/* TIPOGRAPHY */
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
@media (min-width: 769px) {
  .sm_align_left {
    text-align: left;
  }
  .sm_align_right {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .sm_align_left,
  .sm_align_right {
    text-align: center;
  }
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}
.font_12 {
  font-size: 12px;
}
.font_14 {
  font-size: 14px;
}
.font_16 {
  font-size: 16px;
}
.font_18 {
  font-size: 18px;
}
.font_20 {
  font-size: 20px;
}
.font_24 {
  font-size: 24px;
}
.font_30 {
  font-size: 30px;
}
.font_36 {
  font-size: 36px;
}
.font_48 {
  font-size: 48px;
}
.underline {
  text-decoration: underline !important;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.title_page {
  color: #646464;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle {
  margin-top: -20px;
  color: #646464;
  font-size: 20px;
}
.title_blue_entry {
  font-size: 17px;
  color: #1056a6;
  font-weight: 600;
  margin-top: -5px;
}
.sub_title_blue_entry {
  font-size: 15px;
  color: #1056a6;
  font-weight: 600;
}
.title_blue_sidebar {
  font-size: 15px;
  color: #1056a6;
  font-weight: 600;
  margin-top: -5px;
}
.alert_text {
  font-size: 12px;
  color: #f6781b;
  font-style: italic;
  font-weight: bold;
}
.alert_text.medium {
  font-size: 14px;
}
.alert_text.bigger {
  font-size: 16px;
}
.box_alert {
  text-align: center;
  padding: 20px;
  color: #bd440d;
  background-color: #f9b99c;
  display: block;
}
.box_alert p,
.box_alert h1,
.box_alert h2,
.box_alert h3,
.box_alert h4,
.box_alert h5,
.box_alert h6 {
  color: #bd440d;
}

/* ------------------------------------------------------------------------------ */
/* BUTTONS */
.btn.mini {
  font-size: 13px;
}
.btn.small {
  width: 90px;
}
.btn.medium {
  width: 120px;
}
.btn.large {
  width: 180px;
  font-size: 16px;
}
.btn.full {
  width: 100%;
  font-size: 16px;
}
.btn.btn_blue {
  background-color: #1056a6;
  color: #fff;
  border-radius: 3px;
}
.btn.btn_blue:hover,
.btn.btn_blue:focus {
  background-color: #0c3e77;
}
.btn.btn_blue_border {
  background-color: none;
  border: 1px solid #1056a6;
  color: #1056a6;
  border-radius: 3px;
}
.btn.btn_blue_border:hover,
.btn.btn_blue_border:focus {
  background-color: #1056a6;
  color: #fff;
}
.btn.btn_orange_border {
  background-color: none;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  border-radius: 3px;
}
.btn.btn_orange_border:hover,
.btn.btn_orange_border:focus {
  background-color: #e74c3c;
  color: #fff;
}
.btn.btn_blue_slim {
  background-color: #1056a6;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 25px;
}
.btn.btn_blue_slim:hover,
.btn.btn_blue_slim:focus {
  background-color: #0c3e77;
}
.btn.btn_blue_tab {
  border: 1px solid transparent;
  color: #1056a6;
  border-radius: 3px;
}
.btn.btn_blue_tab:hover,
.btn.btn_blue_tab:focus {
  border: 1px solid #1056a6;
  border-color: #1056a6;
}
.btn.btn_blue_tab.active {
  border: 1px solid #1056a6;
  border-color: #1056a6;
}
.btn.btn_yellow {
  background-color: #eeae04;
  color: #fff;
  border-radius: 3px;
}
.btn.btn_yellow:hover,
.btn.btn_yellow:focus {
  background-color: #bc8903;
}
.btn.btn_yellow_border {
  background-color: none;
  border: 1px solid #eeae04;
  color: #eeae04;
  border-radius: 3px;
}
.btn.btn_yellow_border:hover,
.btn.btn_yellow_border:focus {
  background-color: #eeae04;
  color: #fff;
}
.btn.btn_yellow_slim {
  background-color: #eeae04;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 25px;
}
.btn.btn_yellow_slim:hover,
.btn.btn_yellow_slim:focus {
  background-color: #bc8903;
}
.btn.btn_yellow_tab {
  border: 1px solid transparent;
  color: #eeae04;
  border-radius: 3px;
}
.btn.btn_yellow_tab:hover,
.btn.btn_yellow_tab:focus {
  border: 1px solid #eeae04;
  border-color: #eeae04;
}
.btn.btn_yellow_tab.active {
  border: 1px solid #eeae04;
  border-color: #eeae04;
}
.btn.btn_orange {
  background-color: #e74c3c;
  color: #fff;
  border-radius: 3px;
}
.btn.btn_orange:hover,
.btn.btn_orange:focus {
  background-color: #d62c1a;
}
.btn.btn_orange_border {
  background-color: none;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  border-radius: 3px;
}
.btn.btn_orange_border:hover,
.btn.btn_orange_border:focus {
  background-color: #e74c3c;
  color: #fff;
}
.btn.btn_orange_slim {
  background-color: #e74c3c;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 25px;
}
.btn.btn_orange_slim:hover,
.btn.btn_orange_slim:focus {
  background-color: #d62c1a;
}
.btn.btn_orange_tab {
  border: 1px solid transparent;
  color: #e74c3c;
  border-radius: 3px;
}
.btn.btn_orange_tab:hover,
.btn.btn_orange_tab:focus {
  border: 1px solid #e74c3c;
  border-color: #e74c3c;
}
.btn.btn_orange_tab.active {
  border: 1px solid #e74c3c;
  border-color: #e74c3c;
}
.btn.btn_green {
  background-color: #20b920;
  color: #fff;
  border-radius: 3px;
}
.btn.btn_green:hover,
.btn.btn_green:focus {
  background-color: #188e18;
}
.btn.btn_green_border {
  background-color: none;
  border: 1px solid #20b920;
  color: #20b920;
  border-radius: 3px;
}
.btn.btn_green_border:hover,
.btn.btn_green_border:focus {
  background-color: #20b920;
  color: #fff;
}
.btn.btn_green_slim {
  background-color: #20b920;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 25px;
}
.btn.btn_green_slim:hover,
.btn.btn_green_slim:focus {
  background-color: #188e18;
}
.btn.btn_green_tab {
  border: 1px solid transparent;
  color: #20b920;
  border-radius: 3px;
}
.btn.btn_green_tab:hover,
.btn.btn_green_tab:focus {
  border: 1px solid #20b920;
  border-color: #20b920;
}
.btn.btn_green_tab.active {
  border: 1px solid #20b920;
  border-color: #20b920;
}
.pl_read_more {
  color: #1056a6;
  font-style: italic;
  text-decoration: underline !important;
  font-size: 14px;
}
.pl_read_more:hover,
.pl_read_more:focus {
  color: #e74c3c;
}
.category_btn {
  font-size: 12px;
  color: #fff;
  background-color: #bbb8b8;
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
}
.category_btn:hover,
.category_btn:focus {
  background-color: #1056a6;
  color: #fff;
}
.more_item {
  font-size: 14px;
  color: #646464;
}
.more_item i {
  color: #1056a6;
}

/* Outros */
label {
  width: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute !important;
}




/* validar o que pode sair daqui e ficar mais específico */
/* ------------------------------------------------------------------------------ */
/* FIXED MENU */
#header.top_fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
}
/* MOBILE MENU */
/* ------------------------------------------------------------------------------ */
/* HEADER */
#header {
  position: relative;
  background-color: #fff;
}
#header .icon_menu_mobile {
  font-size: 30px;
  color: #1056a6;
  padding: 0 5px;
  margin-top: 10px;
  border: 1px solid transparent;
}
#header .icon_menu_mobile:hover,
#header .icon_menu_mobile:focus {
  border: 1px solid #0c3e77;
  border-radius: 3px;
  color: #fff !important;
}
#header .logo_main {
  padding: 10px 0;
}
#header .logo_main img {
  max-width: 70px;
}
#header .menu_main ul {
  margin-top: 5px;
}
#header .menu_main ul li {
  float: left;
  margin: 15px 10px;
}
#header .menu_main ul li button.item {
  display: block;
  text-transform: uppercase;
  color: #646464;
  background-color: #fff;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
}

#header .menu_main ul li button.credentials{
  color: #fff;
  background-color: #1056a6;
}

#header .menu_main ul li button.item:hover,
#header .menu_main ul li button.item:focus {
  color: #fff;
  background-color: #eeae04;
}
#header .menu_mobile {
  display: none;
  position: fixed;
  z-index: 999;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1056a6;
}
#header .menu_mobile ul {
  display: block;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 3px;
  width: 80%;
  padding: 5px;
}
#header .menu_mobile ul li {
  width: 100%;
}
#header .menu_mobile ul li button.item {
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  color: #337ab7;
  padding: 5px;
}
#header .menu_mobile ul li button.item:hover,
#header .menu_mobile ul li button.item:focus {
  color: #fff;
  background-color: #1056a6;
}
