ul li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.section {
    padding: 7% 0;
    display: block;
  }

 .pull-right {
    float: right!important;
}

/* ------------------------------------------------------------------------------ */
/* TIPOGRAPHY */
.align_left {
  text-align: left;
}
.align_right {
  text-align: right;
}
@media (min-width: 769px) {
  .sm_align_left {
    text-align: left;
  }
  .sm_align_right {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .sm_align_left,
  .sm_align_right {
    text-align: center;
  }
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}
.font_12 {
  font-size: 12px;
}
.font_14 {
  font-size: 14px;
}
.font_16 {
  font-size: 16px;
}
.font_18 {
  font-size: 18px;
}
.font_20 {
  font-size: 20px;
}
.font_24 {
  font-size: 24px;
}
.font_30 {
  font-size: 30px;
}
.font_36 {
  font-size: 36px;
}
.font_48 {
  font-size: 48px;
}
.underline {
  text-decoration: underline !important;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.title_page {
  color: #646464;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Outros */
label {
  width: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute !important;
}